body {
  background-color: powderblue;
}
header{
  background-color: red;
}
h1 {
  color: blue;
}
p {
  color: red;
}
aside{
  border: 5px solid violet;
}
.myDiv {
  border: 5px outset red;
  background-color: lightblue;
  text-align: center;
}
